<template>
    <div class="text-center">
      <v-dialog
          v-model="dialog"
          width="500"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="primary"
              dark
              v-bind="attrs"
              v-on="on"
          >
            View
          </v-btn>
        </template>

        <v-card>
          <v-card-title class="headline grey lighten-2">
            {{user.firstName}}  {{user.lastName}}
          </v-card-title>


          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                color="primary"
                text
            >
              Bookings
            </v-btn>
            <v-btn
                color="error"
                text
                @click="dialog = false"
            >
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
</template>

<script>
export default {
name: "SingleUserView",
  props: {
    user : {
      type: Object,
      required: true
    }
  },
  data(){
    return {
      dialog: false
    }
  }
}
</script>

<style scoped>

</style>
