<template>
  <v-simple-table>
    <template v-slot:default>
      <thead>
      <tr>
        <th class="text-left">First Name</th>
        <th class="text-left">Last Name</th>
        <th class="text-left">Email</th>
        <th class="text-left">Role</th>
        <th class="text-left">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(user) in users" :key="user.userId">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.type }}</td>
        <td><user-view :user="user"/></td>
      </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
import SingleUserView from "@/components/users/SingleUserView";

export default {
name: "UsersTable",

  components:{
    userView: SingleUserView
  },

  data() {
    return {
      users:[
          {
            firstName: 'Frenkie',
            lastName: 'DeJong',
            email:'fdejong@email.com',
            type: 'Provider'
          },
        {
          firstName: 'Sergino',
          lastName: 'Dest',
          email:'dest@email.com',
          type: 'Provider'
        },
        {
          firstName: 'Ousmane',
          lastName: 'Dembele',
          email:'dembele@email.com',
          type: 'Provider'
        },
        {
          firstName: 'Pedro',
          lastName: 'Lopez',
          email:'lopez@email.com',
          type: 'Provider'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
