<template>
  <v-card
      class="mx-auto"
      max-width="344"
      outlined
  >
    <v-card-title class="headline mb-1">
      Availability
    </v-card-title>

    <v-card-text>
        <div class="font-weight-regular">
          Monday    : {{availability[0].start}} - {{availability[0].end}}
          <br>
          Tuesday   : {{availability[1].start}} - {{availability[1].end}}
          <br>
          Wednesday : {{availability[2].start}} - {{availability[2].end}}
          <br>
          Thursday  : {{availability[3].start}} - {{availability[3].end}}
          <br>
          Friday    : {{availability[4].start}} - {{availability[4].end}}
          <br>
          Saturday  : {{availability[5].start}} - {{availability[5].end}}
          <br>
          Sunday    : {{availability[6].start}} - {{availability[6].end}}
        </div>





    </v-card-text>


    <v-card-actions>
      <v-btn
          depressed
          color="primary"
      >
        Edit Availability
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
name: "Availability",
  data(){
    return{
      availability:[
        {
          start: '9:00',
          end: '17:00'
        },
        {
          start: '9:00',
          end: '17:00'
        },
        {
          start: '9:00',
          end: '17:00'
        },
        {
          start: '9:00',
          end: '17:00'
        },
        {
          start: '9:00',
          end: '17:00'
        },
        {
          start: '10:00',
          end: '15:00'
        },
        {
          start: '13:00',
          end: '16:00'
        }
      ],
    }
  }
}
</script>

<style scoped>

</style>
