<template>
  <v-card>
    <v-card-title>{{bookingTransformed.date}}</v-card-title>
    <v-card-text>
      <div class="text--primary">
        Start Time: {{bookingTransformed.timeStart}}<br>
        End Time: {{bookingTransformed.timeEnd}} <br>
        Client: {{bookingTransformed.clientName}} <br>
        Service: {{bookingTransformed.serviceName}} <br>
        Duration: {{bookingTransformed.duration}} Minutes
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn color="success">
        Confirm
      </v-btn>
      <v-btn color="error">
        Cancel
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {DateTime} from "luxon";

export default {
name: "BookingCard",
  props: {
    booking : {
      type: Object,
      required: true
    }
  },
  computed: {
      bookingTransformed () {
        let date = DateTime.fromISO(this.booking.dateTimeStart)

        let timeEnd = DateTime.fromISO(this.booking.dateTimeEnd)

        let duration = timeEnd.diff(date,'minutes').toObject()

        return {
          date: date.toLocaleString(),
          timeStart: date.toLocaleString(DateTime.TIME_SIMPLE),
          timeEnd: timeEnd.toLocaleString(DateTime.TIME_SIMPLE),
          clientName: this.booking.clientName,
          serviceName: this.booking.serviceName,
          duration: Math.ceil(duration.minutes)
        }
      }
  }
}
</script>

<style scoped>

</style>
