<template>
    <div>
      <h2>Bookings</h2>

      <booking-card v-for="(booking,i) in this.bookings"
                    :key="i" :booking="booking"
                  class="ma-4"/>
    </div>
</template>

<script>


  import BookingCard from "@/components/Bookings/BookingCard";


export default {
name: "BookingList",
  components: {BookingCard},
  props: {
    bookings: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
