<template>
    <v-card
      class="mx-auto"
    >

      <v-list-item three-line>
        <v-list-item-avatar>
          <v-icon>mdi-briefcase-outline</v-icon>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{address.address1}}, {{address.address2}}</v-list-item-title>
          <v-list-item-subtitle>{{address.city}}, {{address.state}}</v-list-item-subtitle>
          <v-list-item-subtitle>{{address.country}}, {{address.zipcode}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-card>
</template>

<script>
export default {
name: "Address",
  data(){
    return {
    }
  },
  props: {
   address: {
     required: true,
     type: Object
   }
  }
}
</script>

<style scoped>

</style>
