<template>
  <v-carousel v-model="model">
    <v-carousel-item
        v-for="(image, i) in images"
        :key="i"
        :src="image"
    >
    </v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  name: "Carousel",
  data() {
    return {
      images: [
        'https://www.menshairstylestoday.com/wp-content/uploads/2019/02/Short-Fade-Haircut.jpg',
        'https://www.menshairstyletrends.com/wp-content/uploads/2020/07/Taper-haircut-black-Mark-Ingram-Pattycuts.jpg',
        'https://i.pinimg.com/736x/8f/4a/44/8f4a44f7be5a1643ed9f60adadc06421.jpg',
        'https://netstorage-legit.akamaized.net/images/vllkyt5am6jc2ms8m.jpg',
        'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSyH4MuJJzU2CaLUVMhmEKu-CPIIyrhL-YUw&usqp=CAU',
        'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThDT7wtB2BKI78-TgOipJlJp8xxvQ6h66TzQ&usqp=CAU'
      ]
    }
  }
}
</script>

<style scoped>

</style>
