<template>
  <v-row justify="center">
    <v-dialog
        v-model="dialog"
        persistent
        max-width="800px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
        >
          Edit Portfolio
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                  cols="12"
                  sm="6"
                  md="4"
              >
                <v-text-field
                    label="First name*"
                    required
                    :rules="requiredRules"
                    v-model="firstName"
                ></v-text-field>
              </v-col>

              <v-col
                  cols="12"
                  sm="6"
                  md="4"
              >
                <v-text-field
                    :rules="requiredRules"
                    label="Last name*"
                    persistent-hint
                    required
                    v-model="lastName"
                ></v-text-field>
              </v-col>

            </v-row>
          </v-container>
        </v-card-text>

        <v-card-title>
          Edit Address
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>

              <v-autocomplete
                  autocomplete="new-password"
                  no-filter
                  v-model="chosenWorkAddress"
                  :search-input.sync="query"
                  label="New Address"
                  :items="suggestedAddresses"
                  placeholder="Search New Address..."
                  item-text="title"
                  :item-value="addressValue"
                  append-icon="mdi-magnify"
                  outlined
              ></v-autocomplete>

            </v-row>
            <v-row v-if="!addressIsEmpty">
              <div>
                New Address: {{ chosenWorkAddress.title }}
              </div>
            </v-row>
            <v-row v-else>
              <v-list-item three-line>
                <v-list-item-avatar>
                  <v-icon>mdi-briefcase-outline</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{ provider.address.address1 }}
                  </v-list-item-title>
                  <v-list-item-subtitle>{{ provider.address.city }}, {{
                      provider.address.state
                    }}
                  </v-list-item-subtitle>
                  <v-list-item-subtitle>{{ provider.address.country }}, {{ provider.address.zipcode }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-title>
          Edit Services
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                    v-model="service"
                    label="Service"
                    hint="Add Service, eg Haircut"
                    placeholder="Services"

                />
              </v-col>
              <v-col>
                <v-currency-field
                    label="Price"
                    hint="Price of the service"
                    prepend-icon="mdi-currency-usd"
                    v-model="servicePrice"/>
              </v-col>

              <v-col>
                <v-row
                    v-for="(service,i) in services"
                    :key="i"
                >
                  {{ service.name }} ${{ service.price }}
                  <v-btn @click="removeService(i)" icon color="red">
                    <v-icon>mdi-minus-circle</v-icon>
                  </v-btn>
                </v-row>

              </v-col>


            </v-row>
            <v-row>
              <v-col>
                <v-btn @click="addService(service,servicePrice)">Add Service</v-btn>
              </v-col>
            </v-row>

          </v-container>
        </v-card-text>

        <v-card-title>
          Edit Categories
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-form>
                <v-checkbox
                    v-for="(category,i) in categories"
                    :key="i"
                    v-model="selectedCategories"
                    :value="category.name"
                    :label="category.name"
                    color="deep-purple accent-4"
                />
              </v-form>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="error"
              @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
              color="success"

              @click="updateProviderDetails"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>

</template>

<script>
import {mapState,mapActions} from 'vuex'
import ExternalApiService from "@/services/ExternalApiService";
import debounce from "lodash.debounce";
import isEmpty from "lodash.isempty";

export default {
  name: "EditPortfolio",
  data() {
    return {
      dialog: false,
      firstName:this.provider.firstName,
      lastName: this.provider.lastName,
      service: '',
      servicePrice: 0,
      selectedCategories: this.provider.categories.map(cat => {
        return cat.name
      }),
      updatedProvider: {},
      services: this.provider.services,
      chosenWorkAddress: {},
      suggestedAddresses: [],
      query: '',
      currentAddressText: this.getCurrentAddressText(),
      requiredRules: [
        v => !!v || 'This field is required'
      ]
    }
  },
  props: {
    provider: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState({
      categories: state => state.provider.categories
    }),
    addressIsEmpty() {
      return isEmpty(this.chosenWorkAddress)
    }
  },
  methods: {
    addressValue(item) {
      return item
    },
    getCurrentAddressText() {
      let address = this.provider.address
      return address.address1 + ',' + address.city + ',' + address.state
    },
    getAddressSuggestion() {

      if (this.query) {

        this.suggestedAddresses = []

        ExternalApiService.getSuggestedAddress(this.query)
            .then(response => {
              let items = response.data.items
              this.$log.info(items)
              items.forEach(item => this.suggestedAddresses.push(item))
            })
            .catch(err => {
              this.$log.error(err)
            })
      }
    },

    addService(item, price) {
      if(isEmpty(this.services)){
        this.services = []
      }
      this.services.push({name: item, price: price})
      this.service = ''
      this.servicePrice = 0
    },

    removeService(index) {
      this.services.splice(index, 1)
    },
    ...mapActions('provider', ['updateProvider']),

    updateProviderDetails(){
      let categories = []
      let services = []

      this.selectedCategories.forEach(name => categories.push({name:name}))
      this.services.forEach(service => services.push(service))

      var address

      if(isEmpty(this.chosenWorkAddress)){
        address = this.provider.address
      } else {
        let temp = this.chosenWorkAddress.address
        let position = this.chosenWorkAddress.position

        address = {
          address1: temp.houseNumber + ' ' + temp.street,
          address2: '',
          city: temp.city,
          state: temp.state,
          country: temp.countryName,
          zipcode: temp.postalCode,
          latitude: position.lat,
          longitude: position.lng
        }
      }


      let updatedProvider = {
        id: this.provider.id,
        firstName: this.firstName,
        lastName: this.lastName,
        categories: categories,
        services: services,
        address: address
      }

      this.$log.info(updatedProvider)
      this.$log.info(address)
      this.$log.info(this.chosenWorkAddress)
      this.updateProvider(updatedProvider)

      this.dialog = false
    }
  },
  created() {
    this.debouncedGetAddressSuggestions = debounce(this.getAddressSuggestion, 100)
  },
  watch: {
    query: function () {
      this.debouncedGetAddressSuggestions()
    }
  }
}
</script>

<style scoped>

</style>
