<template>
  <div>
    <v-row>
      <v-col>
        <div class="text-xl-h4 text-center font-weight-medium" >
          Past Work
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col
          md="6"
          sm="12"
      >
        <v-carousel
            cycle
        >
          <v-carousel-item
              v-for="(image, i) in images"
              :key="i"
              :src="image.imageUrl"
              transition="fade-transition"
          >
          </v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col
        md="6"
        sm="12"
      >
        <v-card>
          <v-container>
            <v-row>

              <v-col
                  v-for="(image,i) in images"
                  :key="i"
                  class="d-flex child-flex"
                  cols="4"
              >
                <v-card flat tile class="d-flex">
                  <v-img
                      :src="image.imageUrl"
                      aspect-ratio="1"
                      class="grey lighten-2"
                  >
                    <template v-slot:placeholder>
                      <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <upload-image/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import UploadImage from "@/components/Portfolio/UploadImage";

export default {
  name: "PastWork",
  components : {
    uploadImage:UploadImage
  },
  props: {
    images: {
      type: Array
    }
  }
}
</script>

<style scoped>

</style>
