<template>
  <div>
    <v-card
        outlined
    >

      <v-card-title class="justify-center">
        <div>

          <v-avatar
              height="150"
              width="150"
          >
            <v-img
                :src="profileUrl"
           />
          </v-avatar>
          <upload-profile-pic :provider-id="provider.id"/>

          <div
              class="text-h4 mb-2"
              v-text="provider.firstName+' '+provider.lastName"
          >
          </div>
          <ul id="menu">

            <li
                class="headline mb-1"
                v-for="(category,i) in provider.categories"
                :key="i"
            >{{ category.name }} </li>
          </ul>
        </div>

      </v-card-title>

      <v-card-subtitle class="justify-center">

      </v-card-subtitle>
      <v-card-text class="justify-center">

        <v-list-item three-line>
          <v-list-item-avatar>
            <v-icon>mdi-briefcase-outline</v-icon>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{address.address1}}, {{address.address2}}</v-list-item-title>
            <v-list-item-subtitle>{{address.city}}, {{address.state}}</v-list-item-subtitle>
            <v-list-item-subtitle>{{address.country}}, {{address.zipcode}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

      </v-card-text >

      <v-card-title>
        Services
      </v-card-title>
      <v-list>
        <v-list-item-group>
          <v-list-item
              v-for="(service, i) in provider.services"
              :key="i"
          >
            <v-list-item-content>
              <v-row>
                <v-col>
                  <div>{{service.name}}</div>
                </v-col>
                <v-col>
                  <div
                      class="font-weight-thin"
                  >$ {{service.price}}</div>
                </v-col>
              </v-row>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <v-card-actions>
        <edit-portfolio :provider="provider"/>
      </v-card-actions>

    </v-card>
  </div>

</template>

<script>
import EditPortfolio from "@/components/Portfolio/EditPortfolio";
import {mapState} from 'vuex'
import isEmpty from 'lodash.isempty'
import UploadProfilePic from "@/components/Portfolio/UploadProfilePic";
export default {
  name: "PortfolioTopBar",
  components : {
    editPortfolio: EditPortfolio,
    uploadProfilePic: UploadProfilePic
  },
  props: {
    provider: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      address: this.provider.address,
      profileUrl: isEmpty(this.profile) ? require('@/assets/blankprofile.png') : this.profileUrl.imageUrl
    }
  },
  computed : {
    ...mapState({
      profile: state => state.provider.profileImage
    })
  }
}
</script>

<style scoped>
ul#menu li {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  display: inline;
}

</style>
