<template>
  <v-card
    class="mx-auto"
    outlined
  >
    <v-card-title>
      Services
    </v-card-title>
    <v-list>
      <v-list-item-group>
        <v-list-item
          v-for="(service, i) in services"
          :key="i"
        >
          <v-list-item-content>
            <v-row>
              <v-col>
                <div>{{service.name}}</div>
              </v-col>
              <v-col>
                <div
                    class="font-weight-thin"
                >$ {{service.price}}</div>
              </v-col>
            </v-row>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: "Services",
  data() {
    return {
    }
  },
  props : {
    services : {
      required: true,
      type: Array
    }
  }
}
</script>

<style scoped>

</style>
