<template>
  <v-stepper
      v-model="step"
      vertical
  >
    <v-stepper-header >
      <div class="text-h3 align-center">
        Setup Portfolio
      </div>
    </v-stepper-header>

    <v-stepper-step step="1" :complete="step > 1">
      Choose Category
    </v-stepper-step>

    <v-stepper-content step="1">

        <v-card fluid>
          <v-card-title>Service Provider Category</v-card-title>
          <v-card-text>
            <v-checkbox
                v-for="(category,i) in categories"
                :key="i"
                v-model="selectedCategories"
                :value="category"
                :label="category"
                color="deep-purple accent-4"
            />
          </v-card-text>
          <v-card-actions>
            <v-btn
                color="primary"
                @click="step = 2"
                :disabled="categoriesIsEmpty"
            >
              Continue
            </v-btn>
          </v-card-actions>
        </v-card>


    </v-stepper-content>

    <v-stepper-step step="2" :complete="step > 2">Add Services</v-stepper-step>

    <v-stepper-content step="2">
      <v-container fluid>

        <v-row>
          <v-col>
            <v-text-field
                v-model="service"
                label="Service"
                hint="Add Service, eg Haircut"
                placeholder="Services"

            />
          </v-col>
          <v-col>
            <v-currency-field
                label="Price"
                hint="Price of the service"
                prepend-icon="mdi-currency-usd"
                v-model="servicePrice"/>
          </v-col>

          <v-col>
            <v-row
                v-for="(service,i) in services"
                :key="i"
            >
              {{ service.name }}  ${{service.price}}
              <v-btn @click="removeService(i)" icon color="red">
                <v-icon>mdi-minus-circle</v-icon>
              </v-btn>
            </v-row>

          </v-col>


        </v-row>
        <v-row>
          <v-col>
            <v-btn @click="addService(service,servicePrice)">Add Service</v-btn>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-btn
                color="primary"
                @click="step = 3"
                :disabled="servicesIsEmpty"
            >
              Continue
            </v-btn>
            <v-btn text @click="step = 1">Back</v-btn>
          </v-col>
        </v-row>

      </v-container>
    </v-stepper-content>

    <v-stepper-step step="3" :complete="step > 3">Add Work Address</v-stepper-step>

    <v-stepper-content step="3">
      <v-card fliud>
        <v-card-title>Work Address</v-card-title>
        <v-card-text>
          <v-autocomplete
              no-filter
            v-model="chosenWorkAddress"
            :search-input.sync="query"
              label="Address"
              :items="suggestedAddresses"
              placeholder="Search Address..."
              item-text="title"
              :item-value="addressValue"
              append-icon="mdi-magnify"
          >
            <template slot="item" slot-scope="data">
              {{ data.item.title }}
            </template>
          </v-autocomplete>
          <div>
            {{chosenWorkAddress}}
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="primary"
            @click="step = 4"
            :disabled="addressIsEmpty"
          >
            Continue
          </v-btn>
          <v-btn text @click="step = 2">Back</v-btn>
        </v-card-actions>
      </v-card>
    </v-stepper-content>




    <v-stepper-step step="4">Set Hours</v-stepper-step>

    <v-stepper-content step="4">
      <v-card fluid>
        <v-card-title>Availability Hours</v-card-title>
        <v-card-text>
          <v-row v-for="(day,index) in days" :key="index" >
            <v-col>{{day.title}}:</v-col>
            <v-col>
              <v-menu
                  :ref="day.title"
                  v-model="day.startTimeMenu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="day.startTime"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                      v-model="day.startTime"
                      label="Start Time"
                      prepend-icon="mdi-clock-time-four-outline"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                    v-if="day.startTimeMenu"
                    v-model="day.startTime"
                    full-width
                    @click:minute="day.startTimeMenu = false"
                ></v-time-picker>
              </v-menu>
            </v-col>
            <v-col>
              <v-menu
                  ref="menu"
                  v-model="day.endTimeMenu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="day.endTime"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                      v-model="day.endTime"
                      label="End Time"
                      prepend-icon="mdi-clock-time-four-outline"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                    v-if="day.endTimeMenu"
                    v-model="day.endTime"
                    full-width
                    @click:minute="day.endTimeMenu = false"
                ></v-time-picker>
              </v-menu>
            </v-col>
          </v-row>

        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="step = 5">Continue</v-btn>
          <v-btn text @click="step = 3">Back</v-btn>
        </v-card-actions>
      </v-card>
    </v-stepper-content>


    <v-stepper-step step="5">Complete</v-stepper-step>

    <v-stepper-content step="5">
      <v-card fluid>
        <v-card-title>Portfolio Setup Complete</v-card-title>
        <v-card-text>Click Submit to finish your setup</v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="postProvider()">Submit</v-btn>
          <v-btn text @click="step = 4">Back</v-btn>
        </v-card-actions>
      </v-card>
    </v-stepper-content>
  </v-stepper>
</template>

<script>

import {mapActions, mapGetters} from 'vuex'
import axios from 'axios'
import debounce from 'lodash.debounce'
import isEmpty from 'lodash.isempty'

export default {
  name: "Setup",
  data() {
    return {
      categories:[
          'Barber',
          'HairStylist',
          'Cosmetologist'
      ],
      selectedCategories: [],
      services: [],
      step: 1,
      service: "",
      servicePrice: 0,
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
      phonenumber: '',
      chosenWorkAddress:{},
      query:'',
      suggestedAddresses:[],
      addressScore:[],
      days:[
        {
          title: 'Monday',
          startTime:'',
          endTime:'',
          startTimeMenu: false,
          endTimeMenu: false
        },
        {
          title:'Tuesday',
          startTime:'',
          endTime:'',
          startTimeMenu: false,
          endTimeMenu: false
        },
        {
          title:'Wednesday',
          startTime:'',
          endTime:'',
          startTimeMenu: false,
          endTimeMenu: false
        } ,
        {
          title:'Thursday',
          startTime:'',
          endTime:'',
          startTimeMenu: false,
          endTimeMenu: false
        },
        {
          title:'Friday',
          startTime:'',
          endTime:'',
          startTimeMenu: false,
          endTimeMenu: false
        },
        {
          title:'Saturday',
          startTime:'',
          endTime:'',
          startTimeMenu: false,
          endTimeMenu: false
        },
        {
          title:'Sunday',
          startTime:'',
          endTime:'',
          startTimeMenu: false,
          endTimeMenu: false
        }
      ]
    }
  },
  methods: {

    addressValue(item){
      return item
    },
    getAddressSuggestion (){

      if(this.query){

        this.suggestedAddresses = []

        axios.get('https://autosuggest.search.hereapi.com/v1/geocode',
            {
              params:{
                apiKey: '6jcuj8nsFezDFmFibqMX3J_9mfzWinucD51az-tdZh8',
                q: this.query
              }
            })
            .then(response => {
              let items = response.data.items
              this.$log.info(items)
              items.forEach(item => this.suggestedAddresses.push(item))
            })
            .catch(err => {
              this.$log.error(err)
            })
      }

    },
    addService(item,price) {
      this.services.push({name:item,price: price})
      this.service = ''
      this.servicePrice = 0
    },

    removeService(index) {
      this.services.splice(index, 1)
    },

    ...mapActions('provider', ['fetchCategories','createProvider']),

    postProvider(){

      let categories = []
      let services = []

      this.selectedCategories.forEach(name => categories.push({name:name}))
      this.services.forEach(service => services.push(service))

      let temp = this.chosenWorkAddress.address
      let position = this.chosenWorkAddress.position

      let address = {
        address1: temp.houseNumber + ' ' + temp.street,
        address2: '',
        city: temp.city,
        state: temp.state,
        country: temp.countryName,
        zipcode: temp.postalCode,
        latitude: position.lat,
        longitude: position.lng
      }

      let newProvider = {
          id: this.user.sub,
          firstName: this.user.given_name,
          lastName: this.user.family_name,
          nickname: this.user.nickname,
          email: this.user.email,
          categories: categories,
          services: services,
          address: address
      }

      this.createProvider(newProvider)
      this.$router.push({name : 'Home'})
    }
  },
  created() {

    this.debouncedGetAddressSuggestions = debounce(this.getAddressSuggestion,100)
  },
  computed: {

    ...mapGetters('oidcStore',{
      user: 'oidcUser'
    }),
    addressIsEmpty () {
      return isEmpty(this.chosenWorkAddress)
    },
    categoriesIsEmpty(){
      return isEmpty(this.selectedCategories)
    },
    servicesIsEmpty(){
      return isEmpty(this.services)
    }
  },
  watch: {
    query: function (){
      this.debouncedGetAddressSuggestions()
    }
  }
}
</script>

<style scoped>

</style>
