<template>
  <v-dialog
      v-model="dialog"
      width="500"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          color="cyan"
          fab
          small
          v-bind="attrs"
          v-on="on"
      >
        <v-icon>
          mdi-pencil
        </v-icon>
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="headline grey lighten-2">
        Choose Image To Upload
      </v-card-title>
      <v-file-input
          accept="image/*"
          label="File input"
          v-model="chosenFile"
      ></v-file-input>
      <v-card-actions>
        <v-btn @click="uploadProfileImage">Upload</v-btn>
        <v-btn @click="dialog = false">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import {mapActions} from 'vuex'

export default {
name: "UploadProfilePic",
  data() {
    return {
      chosenFile: [],
      dialog: false,
    }
  },
  props: {
    providerId: {
      type: String,
      required: true
    }
  },
  methods: {
    ...mapActions('provider', ['postProfileImage']),

    uploadProfileImage(){
      this.postImage({ providerId: this.providerId,
        file: this.chosenFile})
      this.dialog = false
    }
  }
}
</script>

<style scoped>

</style>
