<template>
  <v-dialog
      v-model="dialog"
      width="500"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          color="red lighten-2"
          dark
          v-bind="attrs"
          v-on="on"
      >
        Upload Photo
      </v-btn>
    </template>

    <v-card>
      <v-card-title class="headline grey lighten-2">
        Choose File To Upload
      </v-card-title>
      <v-file-input
          accept="image/*"
          label="File input"
          v-model="chosenFile"
      ></v-file-input>
      <v-card-actions>
        <v-btn @click="uploadImage">Upload</v-btn>
        <v-btn @click="dialog = false">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {

  name: "UploadImage",
  data() {
    return {
      chosenFile: [],
      dialog: false,
    }
  },
  methods: {
    ...mapActions('provider', ['postImage']),

    uploadImage(){
      this.postImage({ providerId: this.user.sub,
        file: this.chosenFile})
      this.dialog = false
    }
  },
  computed : {
    ...mapGetters('oidcStore',{
      user: 'oidcUser'
    })
  }
}
</script>

<style scoped>

</style>
