<template>
  <v-container>
    <v-row>
      <v-col>
        <availability/>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="4">
          <booking-list :bookings="bookings" class="pa-16"/>
      </v-col>
      <v-col cols="12" md="8">
          <calendar :bookings="bookings"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import BookingList from "@/components/Bookings/BookingList";
import Calendar from "@/components/Bookings/Calendar";
import {mapGetters,mapActions,mapState} from 'vuex'
import Availability from "@/components/Bookings/Availability";

export default {
name: "BookingsView",
  components: {
      bookingList: BookingList,
      calendar: Calendar,
      availability: Availability
  },
  computed: {
    ...mapGetters('oidcStore',{
      user: 'oidcUser'
    }),
    ...mapState({
      bookings: state => state.provider.bookings
    })
  },
  methods: {
    ...mapActions('provider',['fetchBookings'])
  },
  created() {
    // this.fetchBookings(this.user.sub)
  }
}
</script>

<style scoped>

</style>
