<template>
  <v-container fliud>
    <div v-if="this.oidcIsAuthenticated()">
      <hello-world/>
    </div>
    <div v-else>
      <v-row>
        <v-col>
          <h1>Welcome to Aircuts</h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn color="primary" @click="authenticateOidc">Log In</v-btn>
        </v-col>
      </v-row>
    </div>

  </v-container>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import {mapActions, mapGetters} from 'vuex';

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  methods: {
    ...mapActions('oidcStore', ['authenticateOidc']),
    ...mapGetters('oidcStore', ['oidcIsAuthenticated']),
    ...mapActions('provider',['fetchProvider','fetchCategories'])
  },
  computed : {
    ...mapGetters('oidcStore',{
      user: 'oidcUser'
    }),
  },
  created() {
    // this.fetchProvider(this.user.sub)
  }
}
</script>
