<template>
  <v-container>
    <div v-if="isSetup">
      <v-row>
        <v-col>
          <h1>Portfolio</h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6" sm="12">
          <top-bar :provider="provider"/>
        </v-col>
      </v-row>


      <v-spacer/>

      <past-work :images="provider.images"/>

    </div>
    <div v-else>
      <setup/>
    </div>
  </v-container>
</template>

<script>
import PortfolioTopBar from "@/components/Portfolio/PortfolioTopBar";
import PastWork from "@/components/Portfolio/PastWork";
import Setup from "@/components/Portfolio/Setup";
import {mapState,mapActions, mapGetters} from 'vuex'



export default {
  name: "Portfolio",
  components: {
    topBar: PortfolioTopBar,
    pastWork: PastWork,
    setup: Setup
  },
  data(){
    return {
    }
  },
  computed : {
    ...mapGetters('oidcStore',{
      user: 'oidcUser'
    }),
    ...mapState({
      isSetup: state => state.provider.isSetup,
      provider: state => state.provider.provider
    })
  },
  methods: {
    ...mapActions('provider',['fetchProvider'])
  },
  created () {
    this.fetchProvider(this.user.sub)
  }
}
</script>

<style scoped>

</style>
