<template>
  <v-container>
    <v-row>
      <v-col>
        <h2>This Page is Under Construction</h2>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
name: "UnderConstruction"
}
</script>

<style scoped>

</style>
