<template>
  <v-container>
    <v-row>
      <v-col>
        <users-table/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import UsersTable from "@/components/users/UsersTable";

export default {
  name: "UsersView",
  components: {
    usersTable: UsersTable
  }
}
</script>

<style scoped>

</style>
