<template>
  <v-navigation-drawer
      permanent
      dark
      app
      color="blue darken-4"
      v-if="isAuthenticated"
  >
    <v-list>


        <v-list-item two-line>
          <v-list-item-avatar>
            <img src="https://randomuser.me/api/portraits/men/16.jpg"/>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{user.given_name}} {{user.family_name}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>


      <v-divider></v-divider>


      <v-list-item
          v-if="isServiceProvider()"
          :to="{name:'Portfolio'}"
          link
      >
        <v-list-item-icon>
          <v-icon>mdi-book-account-outline</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Portfolio</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item
          v-if="isServiceProvider()"
          :to="{name:'Bookings'}"
          link
      >
        <v-list-item-icon>
          <v-icon>mdi-calendar-account</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>My Bookings</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="{name: item.title}"
          link
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item
        v-if="isAdmin()"
          :to="{
        name:'Users'
        }"
        link
      >
        <v-list-item-icon>
          <v-icon>mdi-account-group-outline</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>Users</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <template v-slot:append>
      <div class="pa-2">
        <v-btn @click="signOutOidc" block>Logout</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>

import {mapActions, mapState} from 'vuex'
import isEmpty from 'lodash.isempty'
export default {
name: "NavigationDrawer",
  data () {
    return {
      items: [
        { title: 'Account', icon: 'mdi-account-box' },
        { title: 'Home', icon: 'mdi-home' }
      ]
    }
  },
  props:{
    isAuthenticated: {
      type: Boolean,
      required: true
    }
  },
  methods : {
    ...mapActions('oidcStore',[
      'signOutOidc'
    ]),
    isAdmin(){
      let groups  = this.user['cognito:groups']
      if(isEmpty(groups)){
        return false
      }
      return groups.includes('Admin')
    },
    isServiceProvider(){
      let groups  = this.user['cognito:groups']
      return groups.includes('ServiceProvider')
    }
  },
  computed: {
    ...mapState('oidcStore', ['user'])
  }
}
</script>

<style scoped>

</style>
