<template>
  <v-app>
    <v-container>
      <navigation-drawer :is-authenticated="oidcIsAuthenticated"/>

      <v-content>
        <router-view/>
      </v-content>
    </v-container>
  </v-app>
</template>

<script>
import NavigationDrawer from "@/components/NavigationDrawer";
import {mapGetters} from 'vuex';

export default {
  name: 'App',

  components: {
    NavigationDrawer,
  },


  computed: {
    ...mapGetters('oidcStore', ['oidcIsAuthenticated'])
  }
};
</script>
